<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mongo Cheerio Scraper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script src="js/scraper.js"></script>
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
    <ul>
        <li><p>Mongo Cheerio Scraper</p></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Saved Articles</a></li>
    </ul>
    </div>

    <!-- Header Image -->
    <div class="header-image">
        <img src="images/coffee.jpg">
    </div>

    
</body>
</html>